:root {
  --primary-bg-color: #0e0d19;
  --primary-font-color: #a9a9a9;
  --secondary-bg-color: #121120;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to left top, #0e0d19, #121120);
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
  min-width: 100%;
  height: auto;
}

.login::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: url("./pexels-rudy-kirchner-278171-1750820.jpg") no-repeat center
    center;
  background-size: cover;
  z-index: -1;
  opacity: 0.2;
  filter: blur(3px);
}

.login {
  background-color: var(--secondary-bg-color);
  width: clamp(300px, 40vw, 900px);
  min-height: 90%;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 2rem rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  position: relative;
  z-index: 1;
}

.login__header {
  position: relative;
  z-index: 2;
}

.login__header h2 {
  font-size: 3rem;
}

.login__header svg {
  fill: var(--primary-font-color);
  height: 144px;
}

.login__main {
  width: 100%;
}

.login__main form {
  width: 100%;
}

.login__main form input[type="text"],
.login__main form input[type="submit"] {
  appearance: none;
  outline: none;
  border: none;
  width: min(70%, 400px);
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-font-color);
}

.login__main form input[type="text"]:active,
.login__main form input[type="text"]:focus,
.login__main form input[type="text"]:hover,
.login__main form input[type="submit"]:active,
.login__main form input[type="submit"]:focus,
.login__main form input[type="submit"]:hover {
  box-shadow: 0 2px 8px 2px rgba(255, 255, 255, 0.2);
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__header--svg {
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  padding: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.login__header--svg::before,
.login__header--svg::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  padding: 0.4rem;
  box-sizing: unset;
  background: conic-gradient(
    from var(--angle),
    transparent 75%,
    var(--primary-font-color)
  );
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: spin 10s linear infinite;
}

.login__header--svg::before {
  filter: blur(1.6rem);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
